
.Details {

  .Details-Name {
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }

  .Price {
    font-size: 24px
  }

  .ProductButton {
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 10px;
  }
}
