.HeaderContainer {}

.Header {
  max-width: 960px;
  margin: 0 auto;
}

.HeaderLogo {
  width: 200px;
}

.HeaderLogoLink {
  display: inline-block;
}

.HeaderSubtitle {
  color: white;
}

.HeaderSubtitleOneLine {
  display: inline-block;
  margin: 0;
}

@media (max-width: 960px) {
  .HeaderLogoContainer {
    width: 100%;
  }

  .HeaderSubtitle {
    display: none;
  }
}
