.ProductImageContainer {
  width: auto;
  position: relative; }

.ProductImageContainer:after, .ProductImageContainer:before {
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s; }

.ProductImageContainer:after {
  content: '\A';
  width: 90%;
  height: 96%;
  top: 0;
  left: 5%;
  background: rgba(255, 69, 114, 0.6); }

.ProductImageContainer:before {
  content: attr(data-content);
  width: 100%;
  color: #fff;
  z-index: 1;
  bottom: 45%;
  text-align: center; }

.ProductImageContainer:hover:after, .ProductImageContainer:hover:before {
  opacity: 1; }
