.react-rater .is-disabled.is-active, .react-rater .is-disabled.is-active-half {
  color: yellow; }

.AppMobile .react-rater, .AppMobile .is-disabled {
  color: white; }

.AppDesktop .react-rater, .AppDesktop .is-disabled {
  color: #efefef; }
