.ResultsHeadline {
  font-size: 18px;
}

.ResultsHeadlineTermCollection {
  text-transform: lowercase;
}

.AppMobile {
  .ResultsHeadline {
    margin: 20px 0 10px 10px;
  }
}

.AppDesktop {
  .ResultsHeadline {
    margin-bottom: 20px;
  }
}
